@use "../../abstracts" as *;

.nav-primary {
	display: flex;
	position: relative;
	align-items: center;

	&__item {
		padding: 0 rem(20px);
	}

	&__item:hover > &__dropdown {
		visibility: visible;
		transform: translateX(-50%);
		opacity: 1;
	}

	&__link {
		display: block;
		position: relative;
		height: rem(85px);
		color: $color-white;
		font-size: rem(18px);
		font-weight: $regular;
		letter-spacing: rem(0.6px);
		line-height: rem(85px);

		&::before {
			content: "";
			position: absolute;
			left: 50%;
			width: rem(18px);
			height: rem(18px);
			transform: translate(-50%, -120%);
			transition: transform 0.3s cubic-bezier(1, 0.6, 0.33, 1.08);
			border-radius: 50%;
			background-color: $color-primary;
		}

		&:hover {
			color: $color-white;
			text-decoration: none;
		}

		&--active::before,
		&:hover::before {
			transform: translate(-50%, -50%);
		}
	}

	&__dropdown {
		visibility: hidden;
		position: absolute;
		top: 100%;
		left: 50%;
		width: rem(967.5px);  // 4 columns -> 1290px
		padding-top: rem(10px);
		overflow: hidden;
		transform: translateX(-50%) translate3d(0, -50px, -50px);
		transform-origin: top center;
		transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1);
		border-radius: rem(10px);
		opacity: 0;
		box-shadow: 0 rem(10px) rem(60px) 0 rgba($color-black, 0.05);
		will-change: opacity, transform;

		&::after {
			content: "";
			position: absolute;
			bottom: rem(-124px);
			left: rem(-55px);
			width: rem(185px);
			height: rem(185px);
			border-radius: 50%;
			background-color: $color-primary;
		}

		&-inner {
			padding: rem(30px) rem(40px);
			overflow: hidden;
			border-radius: rem(10px);
			background-color: $color-white;
			box-shadow: 0 0 rem(65px) 0 rgba($color-black, 0.1);
		}

		&-list {
			flex-direction: row;
			flex-wrap: wrap;
		}

		&-item {
			flex-basis: 33.3333%;
			padding: rem(15px) rem(45px);
		}

		&-icon {
			display: block;
			width: rem(72px);
			height: rem(72px);
			margin: 0 auto rem(15px);
			transition: transform 0.3s;
		}

		svg {
			fill: $color-dark;
		}

		.fill-primary {
			fill: $color-primary;
		}

		&-link {
			display: block;
			color: $color-dark;
			font-size: rem(16px);
			font-weight: $semi-bold;
			line-height: rem(22px);
			text-align: center;
		}

		&-link:hover {
			text-decoration: none;
		}
	}

	&__dropdown-link:hover {
		color: $color-primary;

		.nav-primary__dropdown-icon {
			transform: scale(1.06);
		}
	}
}
