@use "../../abstracts" as *;

.sidebar-nav {
	display: block;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: calc(100vw - 58px);
	height: 100vh;
	transform: translate3d(-100%, 0, 0);
	transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
	background-color: $color-dark;

	@include tablet {
		width: rem(350px);
	}

	&--visible {
		transform: none;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: rem(60px);
		padding: 0 rem(15px);
	}

	.site-logo {
		svg {
			width: rem(27.5px);
			height: rem(27.5px);
		}

		.fill-white {
			fill: rgba($color-white, 0.25);
		}
	}

	&__content {
		width: 100%;
		height: 100vh;
		max-height: 100vh;
		overflow-y: scroll;

		&::-webkit-scrollbar {
			width: rem(3px);
			background-color: $color-light;
		}

		&::-webkit-scrollbar-button {
			display: none;
		}

		&::-webkit-scrollbar-track-piece {
			background-color: $color-dark;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $color-light;
		}
	}

	.btn-close {
		margin-top: rem(8px);
		color: $color-white;
		font-size: rem(23px);

		.text {
			display: none;
		}
	}
}
