.DS_Store
node_modules/
npm-debug.log
.vscode/
.env

mysql/
logs/
*.sql
*.sql.gz

wp-content/*
!wp-content/themes/
!wp-content/plugins/

wp-content/themes/*
!wp-content/themes/webeez/

wp-content/plugins/*
!wp-content/plugins/webeez-addons/
