@use "../../abstracts" as *;

.portfolio {
	&__filter {
		margin-bottom: rem(50px);

		&-list {
			@include reset-list;
			display: flex;
			justify-content: center;
		}

		&-item:not(:last-child) {
			margin-right: rem(25px);
		}

		&-link {
			position: relative;
			padding-left: rem(15px);
			color: $color-grey;
		}

		&-link::before {
			content: "";
			position: absolute;
			top: 50%;
			left: rem(3px);
			width: rem(6px);
			height: rem(6px);
			transform: translateY(-50%);
			transition: opacity 0.7s ease;
			border-radius: 50%;
			opacity: 0;
			background-color: $color-primary;
		}

		&-link--active::before,
		&-link:hover::before {
			opacity: 1;
		}

		&-link--active,
		&-link:hover {
			color: $color-darker;
			text-decoration: none;
			text-shadow: 0 0 rem(1px) currentColor;
		}
	}

	&__content {

		&-item {
			position: relative;
			z-index: 1;
			width: 100%;
			height: rem(417px);
			padding: 0 rem(7.5px) rem(15px);

			@include large {
				width: 33.3333%;
				height: rem(417px);
			}
		}

		&-inner {
			height: 100%;
		}

		&-figure {
			position: relative;
			z-index: 2;
			height: 100%;
			margin: 0;
			overflow: hidden;
			border-radius: rem(10px);
		}

		&-figure::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			transform: scaleX(0);
			transform-origin: center;
			transform-style: preserve-3d;
			transition: all 0.4s linear;
			background-color: rgba($color-dark, 0.5);
		}

		&-image {
			z-index: 3;
			width: 100%;
			height: 100%;
			transition: transform 0.5s ease-in-out;
			object-fit: cover;
		}

		&-caption {
			display: flex;
			position: absolute;
			z-index: 4;
			bottom: rem(30px);
			left: rem(7.5px);
			flex-direction: column;
			align-items: baseline;
			transform-origin: bottom center;
			transform-style: preserve-3d;
			transition: all 0.4s linear;
		}

		&-category {
			display: inline-block;
			padding: rem(8px) rem(16px);
			border-top-right-radius: rem(10px);
			background-color: $color-primary;
			color: $color-white;
			font-size: rem(18px);
			font-weight: $bold;
			line-height: rem(24px);
		}

		&-tagline {
			display: inline-block;
			padding: rem(8px) rem(16px);
			transition: all 0.5s ease;
			border-top-right-radius: rem(10px);
			border-bottom-right-radius: rem(10px);
			background-color: rgba($color-dark, 0.7);
			color: $color-white;
			font-size: rem(18px);
			line-height: rem(24px);
		}

		&-tagline:hover {
			color: $color-primary;
		}

		&-link {
			display: flex;
			position: absolute;
			z-index: 4;
			top: rem(20px);
			right: rem(20px);
			align-items: center;
			justify-content: center;
			width: rem(40px);
			height: rem(40px);
			transform: scale(0);
			transition: all 0.5s ease;
			border-radius: 50%;
			background-color: $color-white;
			color: $color-dark;
			font-size: rem(16px);
		}

		&-link:hover {
			background-color: $color-primary;
			color: $color-white;
			text-decoration: none;
		}
	}

	.portfolio__content-item:hover {

		.portfolio__content-image {
			transform: scale(1.1);
		}

		.portfolio__content-link {
			transform: scale(1);
		}

		.portfolio__content-figure::after {
			transform: scale(1);
		}
	}

	&--front {
		.portfolio__content-item {
			width: 20%;
			padding: 0 rem(7.5px);
		}
	}

	&__paging {
		display: flex;
		justify-content: center;
		margin-top: rem(50px);
	}
}
