@use "../../abstracts" as *;

.progress {
	position: relative;
	width: 100%;
	height: rem(15px);
	margin-bottom: rem(25px);
	border-radius: rem(30px);
	background-color: rgba($color-white, 0.08);

	&-bar {
		display: block;
		position: relative;
		width: 0;
		height: rem(15px);
		transition: all 1.5s ease;
		border-radius: rem(30px);
		background-color: $color-primary;
	}

	&-counter {
		display: block;
		visibility: hidden;
		position: absolute;
		right: 0;
		bottom: rem(21px);
		transition: all 0.5s ease;
		opacity: 0;
		color: $color-white;
		font-size: rem(14px);
		font-weight: $bold;
		line-height: rem(24px);
		text-align: center;
	}

	&-bar--counted {
		.progress-counter {
			visibility: visible;
			opacity: 1;
		}
	}
}
