@use "../../abstracts" as *;

.scroll-indicator {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: rem(5px);
	transition: opacity 0.3s ease;
	opacity: 0;
	background-color: rgba($color-white, 0.1);

	&__inner {
		width: 0;
		height: rem(5px);
		transition: width 0.5s ease;
		background-color: $color-primary;
	}
}
