@use "../../abstracts" as *;
@use "sass:color";

.social-share--single {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;

	.social-share-list {
		@include reset-list;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.social-share-item:not(:last-child) {
		margin-right: rem(9px);
	}

	.social-share-icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: rem(40px);
		height: rem(40px);
		transition: background-color 0.3s ease;
		border-radius: 50%;
		color: $color-white;
		font-size: rem(18px);

		&:hover {
			color: $color-white;
		}

		&--facebook {
			background-color: $color-facebook;
		}

		&--facebook:hover {
			background-color: color.adjust($color-facebook, $lightness: -15%);
		}

		&--twitter {
			background-color: $color-twitter;
		}

		&--twitter:hover {
			background-color: color.adjust($color-twitter, $lightness: -15%);
		}

		&--pinterest {
			background-color: $color-pinterest;
		}

		&--pinterest:hover {
			background-color: color.adjust($color-pinterest, $lightness: -15%);
		}

		&--linkedin {
			background-color: $color-linkedin;
		}

		&--linkedin:hover {
			background-color: color.adjust($color-linkedin, $lightness: -15%);
		}
	}
}
