@keyframes shake {
	0% {
		transform: rotate3d(0, 1, 0, 0deg);
	}

	30% {
		transform: rotate3d(0, 0, 1, 15deg);
	}

	60% {
		transform: rotate3d(1, 0, 0, 0deg);
	}

	80% {
		transform: rotate3d(0, 0, 1, 15deg);
	}

	100% {
		transform: rotate3d(0, 1, 0, 0deg);
	}
}

@keyframes bounce {
	0%, 20%, 53%, 80%, 100% {
		transform: translate3d(0, 0, 0);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	40%, 43% {
		transform: translate3d(0, -30px, 0);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	}

	70% {
		transform: translate3d(0, -15px, 0);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	}

	90% {
		transform: translate3d(0, -4px, 0);
	}
}
