// Basic colors
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

// Message colors
$color-alert: rgb(245, 166, 35);
$color-success: rgb(39, 176, 144);
$color-danger: rgb(255, 0, 0);
$color-info: rgb(40, 163, 218);

// Theme Colors
$color-lighter:      rgb(241, 241, 245);
$color-light:        rgb(228, 228, 234);
$color-grey-light:   rgb(158, 158, 167);
$color-grey:         rgb(113, 113, 120);
$color-grey-dark:    rgb(64, 64, 67);
$color-dark:         rgb(30, 30, 34);
$color-darker:       rgb(23, 26, 34);
$color-primary:      rgb(252, 101, 60);
//$color-primary:      rgb(241, 162, 29);
$color-secondary:    rgb(98, 98, 101);
$color-shadow:       rgb(10, 165, 205);

// Social Media Colors
$color-facebook:      rgb(66, 103, 178);
$color-instagram:     rgb(195, 42, 163);
$color-pinterest:     rgb(189, 8, 28);
$color-youtube:       rgb(255, 0, 0);
$color-twitter:       rgba(29, 161, 242);
$color-linkedin:      rgba(0, 119, 181);
