@use 'breakpoints' as *;

@mixin reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

@mixin image-cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@mixin headings {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@content
	}
}

@mixin xxsmall {
	@media only screen and (max-width: $xxs) {
		@content;
	}
}

@mixin mobile-only {
	@media only screen and (max-width: $sm) {
		@content;
	}
}

@mixin mobile {
	@media only screen and (min-width: $sm) {
		@content;
	}
}

@mixin tablet {
	@media only screen and (min-width: $md) {
		@content;
	}
}

@mixin large {
	@media only screen and (min-width: $lg) {
		@content;
	}
}

@mixin xlarge {
	@media only screen and (min-width: $xl) {
		@content;
	}
}

@mixin xxlarge {
	@media only screen and (min-width: $xxl) {
		@content;
	}
}

@mixin xxxlarge {
	@media only screen and (min-width: $xxxl) {
		@content;
	}
}




