@use "../../abstracts" as *;

.project {
	z-index: 1;

	&-wrapper {
		position: relative;
		z-index: 2;
		margin-bottom: rem(15px);

		@include large {
			margin-bottom: rem(100px);
		}
	}

	&-header {
		position: relative;
		width: 100%;
	}

	&-title {
		display: flex;
		position: absolute;
		z-index: 3;
		top: 50%;
		left: 50%;
		flex-direction: column;
		justify-content: center;
		transform: translate(-50%, -50%);

		h1 {
			color: $color-white;
			font-size: rem(22px);
			line-height: rem(30px);
			text-align: center;

			@include large {
				font-size: rem(34px);
				line-height: rem(44px);
			}
		}

		a {
			display: block;
			color: $color-white;
			font-size: rem(19px);
			text-align: center;

			@include large {
				font-size: rem(24px);
			}
		}

		a:hover {
			color: $color-primary;
		}
	}

	&-thumbnail {
		width: 100%;
		height: rem(250px);
		overflow: hidden;
		border-radius: rem(10px);

		@include large {
			height: rem(550px);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&-meta {
		margin-bottom: rem(15px);
		padding: rem(38px) rem(50px) rem(30px);
		border-radius: rem(10px);
		background-color: $color-white;
		box-shadow: 0 rem(10px) rem(60px) 0 rgba($color-black, 0.07);

		@include large {
			position: absolute;
			z-index: 3;
			right: rem(40px);
			bottom: rem(-60px);
			left: rem(40px);
			margin-bottom: 0;
			padding: rem(38px) rem(50px) rem(30px);
		}

		h5 {
			font-size: rem(18px);
			line-height: rem(28px);
			text-align: center;

			@include large {
				text-align: left;
			}
		}

		p {
			margin-bottom: 0;
			color: $color-primary;
			font-size: rem(18px);
			font-weight: $light;
			line-height: rem(28px);
			text-align: center;

			@include large {
				text-align: left;
			}
		}

		&__list {
			@include reset-list;
			display: flex;
			flex-direction: column;


			@include large {
				flex-direction: row;
				align-items: center;
			}
		}

		&__item {
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: center;

			@include large {
				justify-content: flex-start;
			}
		}

		&__item:not(:last-child) {
			margin-bottom: rem(7.5px);

			@include large {
				margin-right: rem(40px);
				margin-bottom: 0;
				padding-right: rem(40px);
				border-right: rem(1px) solid $color-lighter;
			}
		}

		&__item:last-child {
			margin-top: rem(15px);

			@include large {
				margin-top: 0;
			}
		}

		.btn-brand {
			margin: 0 auto;
		}

		.btn-brand:hover,
		.social-share-icon:hover {
			text-decoration: none;
		}


	}

	&-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: rem(10px);
		background-color: rgba($color-dark, 0.5);
	}
}
