@use '../abstracts' as *;
@use "sass:color";

.section-cta {
	position: relative;
	padding: rem(60px) 0;
	overflow: hidden;
	background-color: color.adjust($color-primary, $lightness: -1%);

	@include large {
		padding: rem(100px) 0;
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		z-index: 0;
		border-radius: 50%;
	}

	&::before {
		top: -60%;
		left: rem(20px);
		width: rem(245px);
		height: rem(245px);
		transform-origin: center bottom;
		animation-name: shake;
		animation-duration: 5s;
		animation-timing-function: ease-out;
		animation-delay: 1s;
		animation-iteration-count: infinite;
		border: rem(1px) solid $color-white;
		animation-fill-mode: both;

		@include large {
			left: rem(50px);
			width: rem(370px);
			height: rem(370px);
		}
	}

	&::after {
		top: rem(-80px);
		right: rem(-100px);
		width: rem(267px);
		height: rem(267px);
		transform-origin: center bottom;
		animation-name: bounce;
		animation-duration: 5s;
		animation-timing-function: ease-out;
		animation-iteration-count: infinite;
		background-color: rgba(color.adjust($color-white, $lightness: 0%), 0.08);
		animation-fill-mode: both;

		@include large {
			top: rem(-50px);
			right: rem(-80px);
			width: rem(567px);
			height: rem(567px);
		}
	}

	.wp-block-columns {
		z-index: 1;
		margin: 0;

		@include large {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	.wp-block-column:last-child {
		display: flex;
		z-index: 2;
		justify-content: center;
		padding-top: rem(30px);

		@include large {
			justify-content: flex-end;
			padding-top: 0;
		}
	}

	h2,
	.wp-block-heading {
		margin: 0;
		color: $color-white;
		font-size: rem(34px);
		font-weight: $bold;
		line-height: rem(44px);
		text-align: center;

		@include large {
			font-size: rem(40px);
			line-height: rem(52px);
			text-align: left;
		}
	}

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@include large {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	.btn-brand {
		z-index: 10;
		margin-top: rem(30px);

		@include large {
			margin-top: 0;
		}
	}
}
