@use '../abstracts' as *;

.section-header {
	.wp-block-heading {
		margin-bottom: rem(25px);
		font-size: rem(32px);
		line-height: rem(42px);

		@include large {
			font-size: rem(34px);
			line-height: rem(44px);
		}
	}

	.wp-block-columns {
		margin: 0;

		.wp-block-column:first-child {
			padding: 0 0 rem(15px);

			@include large {
				padding: 0 rem(30px) 0 0;
			}
		}

		p {
			font-weight: $light;
		}

	}

	.wp-block-buttons {
		display: flex;
		justify-content: center;
		margin-top: rem(25px);

		@include large {
			justify-content: left;
		}
	}

	.featured-image {
		position: relative;
		overflow: hidden;
		border-radius: rem(10px);

		&::after {
			content: "";
			position: absolute;
			bottom: rem(-350px);
			left: rem(60px);
			width: rem(440px);
			height: rem(440px);
			transform-origin: center bottom;
			animation-name: shake;
			animation-duration: 5s;
			animation-timing-function: ease-out;
			animation-delay: 1s;
			animation-iteration-count: infinite;
			border-radius: 50%;
			background-color: $color-primary;
			animation-fill-mode: both;
		}

		&::before {
			content: "";
			position: absolute;
			bottom: rem(-250px);
			left: rem(-100px);
			width: rem(415px);
			height: rem(415px);
			transform-origin: center bottom;
			animation-name: bounce;
			animation-duration: 5s;
			animation-timing-function: ease-out;
			animation-iteration-count: infinite;
			border: rem(2px) solid $color-white;
			border-radius: 50%;
			opacity: 0.5;
			animation-fill-mode: both;
		}

		img {
			width: 100%;
			height: 100%;
			border-radius: rem(10px);
			object-fit: cover;
		}
	}
}
