@use '../abstracts' as *;

.section-about {
	padding-bottom: rem(50px);
	overflow: hidden;
	background-color: $color-lighter;

	@include large {
		padding-bottom: 0;
	}

	.wp-block-columns {
		margin: 0;

		&:nth-child(2) {
			flex-direction: column-reverse;

			@include large {
				flex-direction: row;
			}
		}
	}

	.wp-block-column {
		display: flex;
		position: relative;
		flex-direction: column;
		justify-content: center;
		font-size: rem(17px);
		font-weight: $light;

		&:nth-child(odd) {
			@include large {
				padding-right: rem(25px);
			}
		}

		&:nth-child(even) {
			@include large {
				padding-left: rem(25px);
			}
		}

		.wp-block-image {
			margin: 0;
		}

		&.padding-top {
			padding-top: rem(50px);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;

			@include large {
				width: unset;
				max-width: unset;
				height: unset;
				object-fit: cover;
			}

		}

		.wp-block-buttons {
			display: flex;
			justify-content: center;
			margin: 0 0 rem(15px);

			@include large {
				justify-content: flex-start;
				margin: rem(25px) 0 0;
			}
		}

		.wp-block-heading {
			font-weight: $ultra-bold;
		}
	}

	.radius-bottom {
		img {
			border-top-left-radius: rem(15px);
			border-top-right-radius: rem(15px);

			@include large {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				border-bottom-left-radius: rem(15px);
				border-bottom-right-radius: rem(15px);
			}
		}
	}

	.radius-top {
		img {
			border-top-left-radius: rem(15px);
			border-top-right-radius: rem(15px);
		}
	}

	.margin-bottom {
		margin-bottom: rem(30px);

		@include large {
			margin-bottom: rem(60px);
		}
	}

	.align-right {
		align-items: flex-end;
	}

	.figure-caption {
		display: flex;
		align-items: center;
		padding: rem(20px);
		background-color: $color-primary;
		color: $color-white;

		@include large {
			position: absolute;
			padding: rem(34px) rem(40px);
		}

		&.pull-left {
			border-bottom-left-radius: rem(15px);
			border-bottom-right-radius: rem(15px);

			@include large {
				bottom: 0;
				left: rem(25px);
				border-top-right-radius: rem(15px);
				border-bottom-right-radius: 0;
			}
		}

		&.pull-right {
			border-bottom-left-radius: rem(15px);
			border-bottom-right-radius: rem(15px);

			@include large {
				top: 0;
				right: rem(25px);
				border-top-right-radius: rem(15px);
				border-bottom-right-radius: 0;
			}
		}

		svg {
			width: rem(64px);
			height: auto;
			fill: $color-white;
		}

		h3 {
			margin-bottom: 0;
			padding-left: rem(20px);
			font-size: rem(14px);
			font-weight: $regular;
			line-height: rem(20px);

			@include large {
				font-size: rem(18px);
				font-weight: $medium;
				line-height: rem(28px);

			}
		}
	}

	.bottom-gap {
		margin-bottom: rem(150px);
	}

	.font-xl {
		margin-bottom: rem(30px);
		font-size: rem(46px);
		line-height: 1.2;
	}

	.background-dark {

		&:hover::before {
			background-color: $color-primary;
		}

		&:hover::after {
			color: $color-white;
		}

		.wp-block-button__link:hover {
			color: $color-white;
		}
	}

}
